In [81]:
import json
import numpy as np
import pandas as pd
import torch
import matplotlib.pyplot as plt
import torch.nn as nn
import torch.nn.functional as F
import torch.optim as optim
from torch.utils.data import Dataset, DataLoader
from torch.autograd import Variable
import torchvision

In [82]:
# Read in the json file as a python dict using photo_id as key
yelp_data = {}
with open('photos.json') as file:
    for line in file:
        cur_img = json.loads(line)
        yelp_data[cur_img['photo_id']] = cur_img

In [84]:
# Convert yelp_data into dataframe
df = pd.DataFrame.from_dict(yelp_data, 'index')
df.head()

,caption,photo_id,business_id,label
---SnSf4OfUFfJmCxw1DZA,,---SnSf4OfUFfJmCxw1DZA,XQ0RIDqgnkXueL6y1CY3Cg,food
--0uqWanwN31OkuuwJ1zjQ,Le Gadboi: Poutine with pogos and onion rings.,--0uqWanwN31OkuuwJ1zjQ,XIg92ukZJn_1aiNx0OmusQ,food
--3gCyYz0Eo3r07tAvUbhg,Their OMAKASE is AMAZING!!!!! Very recommended,--3gCyYz0Eo3r07tAvUbhg,VeiL_tgw7dsl-7IcnOsh0g,food
--3vR19cePIkGQBgcLsQkw,Big steak omelette,--3vR19cePIkGQBgcLsQkw,If6Bku2jkgPiikR6HBu-XQ,food
--7InqXrxwFUY6-ePZILpQ,,--7InqXrxwFUY6-ePZILpQ,QJatAcxYgK1Zp9BRZMAx7g,food

In [89]:
df.groupby('label', as_index=False).agg({'business_id': 'count'}).rename(columns={'business_id': 'count'})

     label   count
0    drink    6620
1     food  132354
2   inside   47959
3     menu     894
4  outside   19122

In [90]:
# Get all the file names of photos
import os
cwd = os.getcwd()
photos = os.listdir(cwd + "/yelp_photos")

In [91]:
# Convert images into a list of numpy arrays, and a list of integers
label_map = {0:"drink", 1: "food", 2: "inside", 3: "outside", 4: "menu"}
np_imgs = []
np_labels = []
for p in photos:
    data = plt.imread('yelp_photos/' + p)
    np_imgs.append(data) 
    p_id = os.path.splitext(p)[0]
    if yelp_data[p_id]['label'] == 'drink':
        np_labels.append(0)
    elif yelp_data[p_id]['label'] == 'food':
        np_labels.append(1)
    elif yelp_data[p_id]['label'] == 'inside':
        np_labels.append(2)
    elif yelp_data[p_id]['label'] == 'outside':
        np_labels.append(3)
    else:
        np_labels.append(4)

In [96]:
class Dataset(Dataset):
    def __init__(self, train=True, normalize=False, np_imgs, np_labels):
        """
        """
        X = np_imgs.astype(float)
        y = np_labels.astype(float)  
        print(X.shape)
        if normalize:
            for index, img in enumerate(X):
                img_mean = img.mean()
                img_std = img.std()
                img = (img - img_mean) / img_std
                X[index] = img
            
        self.len = X.shape[0]
        self.x_data = torch.from_numpy(X).float()
        self.y_data = torch.from_numpy(y).float()

    def __len__(self):
        
        return self.len

    def __getitem__(self, idx):
        
        return self.x_data[idx], self.y_data[idx]

SyntaxError: non-default argument follows default argument (<ipython-input-96-0efdd5f59307>, line 2)